form(action='/users/add', method='post', name='form1')
  table(width='25%', border='0')
    tbody
      tr
        td Name
        td
          input#name(type='text', name='name', placeholder='name')
      tr
        td Age
        td
          input(type='text', name='age', placeholder='age')
      tr
        td Email
        td
          input(type='text', name='email', placeholder='email')
      tr
        td
        td
          input(type='submit', name='Submit', placeholder='Add')


include ../layouts/footer.jade
